<h1>タスク一覧</h1>
<ul>
  <% if logged_in? %>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task %>:ステータス→<%= task.status %>::タスク→<%= task.content %></li>
    <% end %>
  <% end %>
  
</ul>
<%= link_to "新規タスクの作成", new_task_path %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Tasks</h1>
  </div>
</div>
